# Working with Skyscanner API

Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

## Importing relevant libraries

In [7]:
import requests
import pandas as pd
import getpass
import requests

In [2]:
#Authenticating

rapidAPIkey = getpass.getpass()

········

# defining functions

In [3]:
def city_code(city_name):
    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/US/USD/en-US/"
    params = {"query": city_name}
    headers = {'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
               'x-rapidapi-key': rapidAPIkey}
    response = requests.get(url, headers = headers, params = params)
    return response.json()["Places"][0]["PlaceId"]

def flight_prices(departure, arrival, date):
    departure_code = city_code(departure)
    arrival_code = city_code(arrival)
    url = f"https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/{departure_code}/{arrival_code}/{date}"
    params = {"inboundpartialdate":{date}}
    headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': rapidAPIkey}
    response = requests.get(url, headers=headers, params=params)
    return response.json()

def get_dates(start, end):
    return pd.Series(pd.date_range(start, end,freq='d').format())

def flight_days(origin, destination, start, end):
    dates = get_dates(start, end)
    return {date:flight_prices(origin, destination, date) for date in dates}


# Lowest price from the dates and origin/dest we defined before -> function

def lowest_price(origin, destination, start, end):
    flights = flight_days(origin, destination, start, end)
    prices = {date:min([quote["MinPrice"] for quote in flights[date]["Quotes"]]) for date in flights for quote in flights[date]["Quotes"]}
    
    return prices

In [4]:
flight_prices("Barcelona", "Madrid", "2021-05-14")

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 48,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [1816],
    'OriginId': 42414,
    'DestinationId': 67652,
    'DepartureDate': '2021-05-14T00:00:00'},
   'QuoteDateTime': '2021-05-02T17:14:00'}],
 'Carriers': [{'CarrierId': 1816, 'Name': 'Air Europa'}],
 'Places': [{'Name': 'Barcelona',
   'Type': 'Station',
   'PlaceId': 42414,
   'IataCode': 'BCN',
   'SkyscannerCode': 'BCN',
   'CityName': 'Barcelona',
   'CityId': 'BARC',
   'CountryName': 'Spain'},
  {'Name': 'Madrid',
   'Type': 'Station',
   'PlaceId': 67652,
   'IataCode': 'MAD',
   'SkyscannerCode': 'MAD',
   'CityName': 'Madrid',
   'CityId': 'MADR',
   'CountryName': 'Spain'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

In [5]:
lowest_price("Barcelona","Madrid","2021-05-03","2021-05-14")

{'2021-05-03': 80,
 '2021-05-04': 58,
 '2021-05-05': 47,
 '2021-05-06': 38,
 '2021-05-07': 34,
 '2021-05-08': 19,
 '2021-05-09': 48,
 '2021-05-10': 19,
 '2021-05-11': 19,
 '2021-05-12': 19,
 '2021-05-13': 28,
 '2021-05-14': 48}

Create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [6]:
# Create a function that returns the price, names of origin and arrival airports and the name of the company. 

#This is being done by function flight_prices.

In [18]:
#Do it for all the flights between two dates that cost the same.

#To do this, maybe I can modify the function that is giving us lowest_prices between dates

def flight_days(origin, destination, start, end):
    dates = get_dates(start, end)
    return {date:flight_prices(origin, destination, date) for date in dates}

In [11]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/ES/EUR/ES-B/BCN/MAD/2021-05-14/2021-05-03"

headers = {
    'x-rapidapi-key': rapidAPIkey,
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers)

print(response.text)

{
  "Quotes" : [ ],
  "Carriers" : [ ],
  "Places" : [ ],
  "Currencies" : [ {
    "Code" : "EUR",
    "Symbol" : "€",
    "ThousandsSeparator" : ".",
    "DecimalSeparator" : ",",
    "SymbolOnLeft" : false,
    "SpaceBetweenAmountAndSymbol" : true,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}

In [13]:
flight_days("Barcelona", "Madrid", "2021-05-03", "2021-05-04")

{'2021-05-03': {'Quotes': [{'QuoteId': 1,
    'MinPrice': 80,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1816],
     'OriginId': 42414,
     'DestinationId': 67652,
     'DepartureDate': '2021-05-03T00:00:00'},
    'QuoteDateTime': '2021-05-01T16:25:00'}],
  'Carriers': [{'CarrierId': 1816, 'Name': 'Air Europa'}],
  'Places': [{'Name': 'Barcelona',
    'Type': 'Station',
    'PlaceId': 42414,
    'IataCode': 'BCN',
    'SkyscannerCode': 'BCN',
    'CityName': 'Barcelona',
    'CityId': 'BARC',
    'CountryName': 'Spain'},
   {'Name': 'Madrid',
    'Type': 'Station',
    'PlaceId': 67652,
    'IataCode': 'MAD',
    'SkyscannerCode': 'MAD',
    'CityName': 'Madrid',
    'CityId': 'MADR',
    'CountryName': 'Spain'}],
  'Currencies': [{'Code': 'USD',
    'Symbol': '$',
    'ThousandsSeparator': ',',
    'DecimalSeparator': '.',
    'SymbolOnLeft': True,
    'SpaceBetweenAmountAndSymbol': False,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}]},
 '2021-05-04': {'Quotes': [{'QuoteId': 1,
    'MinPrice': 58,
    'Direct': False,
    'OutboundLeg': {'CarrierIds': [1090],
     'OriginId': 42414,
     'DestinationId': 67652,
     'DepartureDate': '2021-05-04T00:00:00'},
    'QuoteDateTime': '2021-05-02T16:00:00'},
   {'QuoteId': 2,
    'MinPrice': 66,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1218],
     'OriginId': 42414,
     'DestinationId': 67652,
     'DepartureDate': '2021-05-04T00:00:00'},
    'QuoteDateTime': '2021-05-02T16:00:00'}],
  'Carriers': [{'CarrierId': 1090, 'Name': 'Ryanair'},
   {'CarrierId': 1218, 'Name': 'Iberia'}],
  'Places': [{'Name': 'Barcelona',
    'Type': 'Station',
    'PlaceId': 42414,
    'IataCode': 'BCN',
    'SkyscannerCode': 'BCN',
    'CityName': 'Barcelona',
    'CityId': 'BARC',
    'CountryName': 'Spain'},
   {'Name': 'Madrid',
    'Type': 'Station',
    'PlaceId': 67652,
    'IataCode': 'MAD',
    'SkyscannerCode': 'MAD',
    'CityName': 'Madrid',
    'CityId': 'MADR',
    'CountryName': 'Spain'}],
  'Currencies': [{'Code': 'USD',
    'Symbol': '$',
    'ThousandsSeparator': ',',
    'DecimalSeparator': '.',
    'SymbolOnLeft': True,
    'SpaceBetweenAmountAndSymbol': False,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}]}}

In [22]:
flight = flight_days("Barcelona","Madrid","2021-05-03","2021-05-14")

In [35]:
len(flight)

12

In [24]:
prices = {}
for date in flight:
    result = flight[date]['Quotes'][0]['MinPrice']
    prices[date] = result

In [25]:
prices

{'2021-05-03': 80,
 '2021-05-04': 58,
 '2021-05-05': 47,
 '2021-05-06': 38,
 '2021-05-07': 34,
 '2021-05-08': 19,
 '2021-05-09': 48,
 '2021-05-10': 19,
 '2021-05-11': 19,
 '2021-05-12': 19,
 '2021-05-13': 28,
 '2021-05-14': 48}

In [26]:
prices.keys()

dict_keys(['2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14'])

In [43]:
def equal_price(origin, destination, start, end):
    
    flight = flight_days(origin, destination, start, end)
    
    prices = {}
    
    for date in flight:
        
            result = flight[date]['Quotes'][0]['MinPrice']
            prices[date] = result
    
    dates = list(prices.keys())
    prices = list(prices.values())  
    
    flights_df = pd.DataFrame([dates, prices]).T
    flights_df.columns = ['Date', 'Price']
    flights_df.sort_values(['Price'], inplace = True)
    
    
    return flights_df

In [46]:
equal_price("Barcelona","Madrid","2021-05-10","2021-05-12")

         Date Price
0  2021-05-10    19
1  2021-05-11    19
2  2021-05-12    19

In [38]:
city_code("Barcelona")

'BCN-sky'